<ticket-template-register name="live">
  <template>
    <div style="float: right; margin-left: auto; margin-right: auto; width: 30%;">
      <img id="logoTarget" border="0" alt="" src="../../images/logo-bw-short.png" style="height: 40px; float: right; padding-bottom: 5px;"/>
    </div>

    <div style="font-family: px-sans, sans-serif; float: left; width: 70%; margin-top: 0px;">
      <span style="font-family: px-sans, sans-serif; font-weight: bold; font-size: 8px;">[[office.label]]</span>
      <br/>
      <span style="font-family: px-sans, sans-serif; font-weight: bold; font-size: 8px;">[[office.formatted_address]]</span>

    </div>

    <div style="float: left; width: 100%; margin: 0px auto; border-top: 3px solid black;">

      <div style="font-family: px-sans, sans-serif; font-weight: bold; float: center; margin-left: auto; margin-right: auto; text-align: center; width: 100%;">
        НОМЕР ТАЛОНА
      </div>

      <div id="TICKET_ID" style="font-family: px-sans, sans-serif; float: center; margin-left: auto; margin-right: auto; text-align: center; width: 100%; font-size: 44px; font-weight: bold;">
        [[ticket.label]]
      </div>

      <div style="float: center; width: 40%; margin: 0.4em auto; border-top: 3px solid black;"></div>

      <div style="font-family: px-sans, sans-serif; font-size: 12px; float: center; margin-left: auto; margin-right: auto; text-align: center; width: 100%;">
        <span style="text-align: left;">[[service.label]]</span>
      </div>

      <div style="font-family: px-sans, sans-serif; float: left; margin-left: auto; margin-right: auto; text-align: center; width: 100%; font-size: 8px;">
        <span id="SVC_DESC" style="text-align: left">[[service.description]]</span>
      </div>

      <div id="USER_NAME_DIV" style="font-family: px-sans, sans-serif; font-size: 9px; font-weight: bold; float: center; margin-left: auto; margin-right: auto; text-align: center; width: 100%;">
        <ticket-optional data="[[ticket.user_info.fio]]">
          <span>
            ФИО:
          </span>
          <span id="USER_NAME" style="text-transform: capitalize; font-family: px-sans, sans-serif; font-size: 9px; font-weight: bold;">[[ticket.user_info.fio]]</span>
        </ticket-optional>
        <ticket-fields-list ticket="[[ticket]]"></ticket-fields-list>
      </div>

      <div style="font-family: px-sans, sans-serif; float: left; width: 100%; margin: 0px auto; border-top: 3px solid black;"></div>

      <div style="font-family: px-sans, sans-serif; float: left; margin-left: auto; margin-right: auto; text-align: left; width: 60%; font-size: 10px;">
        <span>[[ticket.user_info_description.service_count.label]]:</span>
        <span id="SVC_COUNT" style="font-weight: bold;">[[ticket.service_count]]</span>
      </div>

      <div style="font-family: px-sans, sans-serif; float: left; margin-left: auto; margin-right: auto; text-align: left; width: 40%;">
        <span style="text-align: center; font-size: 10px">Талон выдан:</span>
      </div>

      <div style="font-family: px-sans, sans-serif; float: left; margin-left: auto; margin-right: auto; text-align: left; width: 60%; font-size: 10px;">
        <span>ПИН-код:</span>
        <span id="SECRET_CODE" style="font-weight: bold;">[[ticket.code]]</span>
      </div>

      <div style="font-family: px-sans, sans-serif; float: left; margin-left: auto; margin-right: auto; text-align: left; width: 40%; font-size: 10px;">
        <span style="font-weight: bold;">
          <ticket-time-transform data="[[ticket.booking_date]]" format="D.MM.YYYY H:mm"></ticket-time-transform>
        </span>
      </div>
    </template>
  </ticket-template-register>

  <ticket-template-register name="prebook">
    <template>
      <div style="float: right; margin-left: auto; margin-right: auto; width: 30%;">
        <img id="logoTarget" border="0" alt="" src="../../images/logo-bw-short.png" style="height: 40px; float: right; padding-bottom: 5px;"/>
      </div>

      <div style="float: left; width: 100%; margin: 0px auto; border-top: 3px solid black;">

        <div style="font-size: 12px; font-family: px-sans, sans-serif; font-weight: bold; float: center; margin-left: auto; margin-right: auto; text-align: center; width: 100%;">
          <p style="    margin: 0.3em;">
            Талон предварительной записи
          </p>
          <p style="    margin: 0.3em;">
            Необходима регистрация по пин-коду на
          </p>
          <p style="    margin: 0.3em;">
            терминале в день приема, ждем вас!
          </p>
        </div>

        <div id="TICKET_ID" style="font-family: px-sans, sans-serif; float: center; margin-left: auto; margin-right: auto; text-align: center; width: 100%; font-size: 16px; font-weight: bold;">
          Пин-код:
          <ticket-code-transform ticket="[[ticket]]" style="font-size: 36px"></ticket-code-transform>
        </div>
        <div style="font-family: px-sans, sans-serif; font-weight: bold; float: center; margin-left: auto; margin-right: auto; text-align: center; width: 100%;">
          Время приема:
          <ticket-processing-time-transform ticket="[[ticket]]" format="dd D.MM.YYYY H:mm"></ticket-processing-time-transform>
        </div>
        <div style="float: center; width: 40%; margin: 0.4em auto; border-top: 3px solid black;"></div>

        <div style="font-family: px-sans, sans-serif; font-size: 12px; float: center; margin-left: auto; margin-right: auto; text-align: center; width: 100%;">
          <span style="text-align: left;">[[service.label]]</span>
        </div>

        <div style="font-family: px-sans, sans-serif; float: left; margin-left: auto; margin-right: auto; text-align: center; width: 100%; font-size: 8px;">
          <span id="SVC_DESC" style="text-align: left">[[service.description]]</span>
        </div>

        <div id="USER_NAME_DIV" style="font-family: px-sans, sans-serif; font-size: 9px; font-weight: bold; float: center; margin-left: auto; margin-right: auto; text-align: center; width: 100%;">
          <ticket-optional data="[[ticket.user_info.fio]]">
            <span>
              ФИО:</span>
            <span id="USER_NAME" style="text-transform: capitalize; font-family: px-sans, sans-serif; font-size: 9px; font-weight: bold;">[[ticket.user_info.fio]]</span>
          </ticket-optional>
          <ticket-fields-list ticket="[[ticket]]"></ticket-fields-list>
        </div>

        <div style="font-family: px-sans, sans-serif; float: left; width: 100%; margin: 0px auto; border-top: 3px solid black;"></div>

        <div style="font-family: px-sans, sans-serif; float: left; margin-left: auto; margin-right: auto; text-align: left; width: 60%; font-size: 10px;">
          <span>[[ticket.user_info_description.service_count.label]]:</span>
          <span id="SVC_COUNT" style="font-weight: bold;">[[ticket.service_count]]</span>
        </div>

        <div style="font-family: px-sans, sans-serif; float: left; margin-left: auto; margin-right: auto; text-align: left; width: 40%;">
          <span style="text-align: center; font-size: 10px">Талон выдан:</span>
        </div>

        <div style="font-family: px-sans, sans-serif; float: left; margin-left: auto; margin-right: auto; text-align: left; width: 60%; font-size: 10px;">
          <span>ПИН-код:</span>
          <span id="SECRET_CODE" style="font-weight: bold;">[[ticket.code]]</span>
        </div>

        <div style="font-family: px-sans, sans-serif; float: left; margin-left: auto; margin-right: auto; text-align: left; width: 40%; font-size: 10px;">
          <span style="font-weight: bold;">
            <ticket-time-transform data="[[ticket.booking_date]]" format="D.MM.YYYY H:mm"></ticket-time-transform>
          </span>
        </div>
      </template>
    </ticket-template-register>
