<link rel="import" href="../ticket-template-register.html">
<link rel="import" href="../transforms/ticket-time-transform.html">
<link rel="import" href="../transforms/ticket-code-transform.html">
<link rel="import" href="../transforms/ticket-optional.html">
<link rel="import" href="../transforms/ticket-processing-time-transform.html">
<link rel="import" href="../transforms/ticket-fields-list.html">

<ticket-template-register name="med-live">
  <template>
    <style>
      .ticket-delimiter {
        clear: both;
        width: 100%;
        margin: 0 auto;
        border-top: 3px solid black;
        padding: 0;
      }

      .ticket-block {
        overflow: hidden;
        padding: 10px 0;
      }

    </style>
    <div style="float: right; margin-left: auto; margin-right: auto; width: 30%;">
      <img id="logoTarget" border="0" alt="" style="height: 40px; float: right; padding-bottom: 5px;"/>
    </div>

    <div style="font-family: px-sans, sans-serif; float: left; width: 65%; margin-top: 0px; font-size: 12px;">
      <span style="font-family: px-sans, sans-serif; font-weight: bold;">[[office.label]]</span>
      <br/>
      <span style="font-family: px-sans, sans-serif; font-weight: bold;">[[office.formatted_address]]</span>
    </div>

    <div class="ticket-delimiter"></div>

    <div class="ticket-block" style="font-family: px-sans, sans-serif; clear: both; text-align: center; width: 100%; font-size: 16px; font-weight: bold;">
      <div style="font-family: px-sans, sans-serif; font-weight: bold; float: center; margin-left: auto; margin-right: auto; text-align: center; width: 100%;">
        НОМЕР ТАЛОНА
      </div>
      <div id="TICKET_ID" style="font-family: px-sans, sans-serif; float: center; margin-left: auto; margin-right: auto; text-align: center; width: 100%; font-size: 44px; font-weight: bold;">
        [[ticket.raw_label]]
      </div>
      <div style="font-family: px-sans, sans-serif; font-weight: bold; float: center; margin-left: auto; margin-right: auto; text-align: center; width: 100%;">
        <ticket-operational-workstations labels="[[context.ws_full_labels]]" description=""></ticket-operational-workstations>,
        <span>[[service.label]]</span>
      </div>
    </div>

    <div class="ticket-delimiter"></div>

    <div class="ticket-block">
      <ticket-fields-list style="font-family: px-sans, sans-serif; font-size: 9px; font-weight: bold;  width: 100%; padding-bottom: 10px;" ticket="[[ticket]]"></ticket-fields-list>
      <div style="padding: 5px 0; font-family: px-sans, sans-serif; float: left; margin-left: auto; margin-right: auto; text-align: left; width: 100%; font-size: 10px">
        <span style="text-align: center; ">Талон выдан:</span>
        <span style="font-weight: bold;">
          <ticket-time-transform style="display: inline-block;" data="[[ticket.booking_date]]" format="D.MM.YYYY H:mm"></ticket-time-transform>
        </span>
      </div>
      <div style="padding: 5px 0; font-family: px-sans, sans-serif; float: left; margin-left: auto; margin-right: auto; text-align: left; width: 45%; font-size: 10px;">
        <span>ПИН-код:</span>
        <ticket-code-transform ticket="[[ticket]]" style="font-weight: bold; display: inline;"></ticket-code-transform>
      </div>
    </div>

  </template>
</ticket-template-register>

<ticket-template-register name="med-prebook">
  <template>

    <style>
      .ticket-delimiter {
        clear: both;
        width: 100%;
        margin: 0 auto;
        border-top: 3px solid black;
        padding: 0;
      }

      .ticket-block {
        overflow: hidden;
        padding: 10px 0;
      }

    </style>
    <div style="float: right; margin-left: auto; margin-right: auto; width: 30%;">
      <img id="logoTarget" border="0" alt="" style="height: 40px; float: right; padding-bottom: 5px;"/>
    </div>

    <div style="font-family: px-sans, sans-serif; float: left; width: 65%; margin-top: 0px; font-size: 12px;">
      <span style="font-family: px-sans, sans-serif; font-weight: bold; ">[[office.label]]</span>
      <br/>
      <span style="font-family: px-sans, sans-serif; font-weight: bold;">[[office.formatted_address]]</span>
    </div>

    <div class="ticket-delimiter"></div>

    <div class="ticket-block" style="font-family: px-sans, sans-serif; clear: both; text-align: center; width: 100%; font-size: 16px; font-weight: bold;">
      Пин-код:
      <ticket-code-transform ticket="[[ticket]]" style="font-size: 36px"></ticket-code-transform>
      <div style="font-size: 12px; font-family: px-sans, sans-serif; font-weight: bold; float: center; margin-left: auto; margin-right: auto; text-align: center; width: 100%;">
        <p style="    margin: 0.3em;">
          Талон предварительной записи
        </p>
        <p style="    margin: 0.3em;">
          Необходима регистрация по пин-коду на
        </p>
        <p style="    margin: 0.3em;">
          терминале в день приема, ждем вас!
        </p>
      </div>
      <div style=" font-family: px-sans, sans-serif; clear: both; text-align: center; width: 100%; font-size: 16px; font-weight: bold;">
        <p>
          [[service.label]]
        </p>
      </div>
    </div>

    <div class="ticket-delimiter"></div>

    <div class="ticket-block">
      <div style="font-family: px-sans, sans-serif; font-size: 9px; font-weight: bold;  text-align: left; width: 100%;">
        <ticket-fields-list ticket="[[ticket]]"></ticket-fields-list>
      </div>
      <div style="padding: 5px 0; font-family: px-sans, sans-serif; float: left; margin-left: auto; margin-right: auto; text-align: left; width: 45%; font-size: 10px;">
        <span>ПИН-код:</span>
        <ticket-code-transform ticket="[[ticket]]" style="font-weight: bold; display: inline;"></ticket-code-transform>
      </div>

      <div style="padding: 5px 0; font-family: px-sans, sans-serif; float: left; margin-left: auto; margin-right: auto; text-align: left; width: 100%; font-size: 10px">
        <span style="text-align: center; ">Талон выдан:</span>
        <span style="font-weight: bold;">
          <ticket-time-transform style="display: inline-block;" data="[[ticket.booking_date]]" format="D.MM.YYYY H:mm"></ticket-time-transform>
        </span>
      </div>
      <div style="padding: 5px 0; font-family: px-sans, sans-serif; float: left; margin-left: auto; margin-right: auto; text-align: left; width: 100%; font-size: 10px">
        <span style="text-align: center; ">Предварительная запись:</span>
        <span style="font-weight: bold;">
          <ticket-processing-time-transform style="display: inline-block;" ticket="[[ticket]]" format="D.MM.YYYY dd H:mm"></ticket-processing-time-transform>
        </span>
      </div>
    </div>

  </template>
</ticket-template-register>

<ticket-template-register name="med-register">
  <template>
    <style>
      .ticket-delimiter {
        clear: both;
        width: 100%;
        margin: 0 auto;
        border-top: 3px solid black;
        padding: 0;
      }

      .ticket-block {
        overflow: hidden;
        padding: 10px 0;
      }

    </style>

    <div style="float: right; margin-left: auto; margin-right: auto; width: 30%;">
      <img id="logoTarget" border="0" alt="" style="height: 40px; float: right; padding-bottom: 5px;"/>
    </div>

    <div style="font-family: px-sans, sans-serif; float: left; width: 65%; margin-top: 0px; font-size: 12px;">
      <span style="font-family: px-sans, sans-serif; font-weight: bold;">[[office.label]]</span>
      <br/>
      <span style="font-family: px-sans, sans-serif; font-weight: bold;">[[office.formatted_address]]</span>
    </div>

    <div class="ticket-delimiter"></div>

    <div class="ticket-block" style="font-family: px-sans, sans-serif; clear: both; text-align: center; width: 100%; font-size: 16px; font-weight: bold;">
      <div style="font-family: px-sans, sans-serif; font-weight: bold; float: center; margin-left: auto; margin-right: auto; text-align: center; width: 100%;">
        НОМЕР ТАЛОНА
      </div>
      <div id="TICKET_ID" style="font-family: px-sans, sans-serif; float: center; margin-left: auto; margin-right: auto; text-align: center; width: 100%; font-size: 44px; font-weight: bold;">
        [[ticket.raw_label]]
      </div>
      <div style="font-family: px-sans, sans-serif; font-weight: bold; float: center; margin-left: auto; margin-right: auto; text-align: center; width: 100%;">
        <ticket-operational-workstations labels="[[context.ws_full_labels]]" description=""></ticket-operational-workstations>,
        <span>[[service.label]]</span>
      </div>
    </div>

    <div class="ticket-delimiter"></div>

    <div class="ticket-block">
      <ticket-fields-list style="font-family: px-sans, sans-serif; font-size: 9px; font-weight: bold;  text-align: left; width: 100%;" ticket="[[ticket]]"></ticket-fields-list>

      <div style="padding: 5px 0; font-family: px-sans, sans-serif; float: left; margin-left: auto; margin-right: auto; text-align: left; width: 100%; font-size: 10px">
        <span style="text-align: center; ">Талон выдан:</span>
        <span style="font-weight: bold;">
          <ticket-time-transform style="display: inline-block;" data="[[ticket.booking_date]]" format="D.MM.YYYY H:mm"></ticket-time-transform>
        </span>
      </div>

      <div style="padding: 5px 0; font-family: px-sans, sans-serif; float: left; margin-left: auto; margin-right: auto; text-align: left; width: 100%; font-size: 10px">
        <span style="text-align: center; ">Предварительная запись:</span>
        <span style="font-weight: bold;">
          <ticket-processing-time-transform style="display: inline-block;" ticket="[[ticket]]" format="D.MM.YYYY dd H:mm"></ticket-processing-time-transform>
        </span>
      </div>

      <div style="padding: 5px 0; font-family: px-sans, sans-serif; float: left; margin-left: auto; margin-right: auto; text-align: left; width: 45%; font-size: 10px;">
        <span>ПИН-код:</span>
        <ticket-code-transform ticket="[[ticket]]" style="font-weight: bold; display: inline;"></ticket-code-transform>
      </div>
    </div>

  </template>
</ticket-template-register>
